.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.me-auto{
  margin: 10px;
  
}

.main-bg{
  aspect-ratio: 2 / 1;
  object-fit:cover;
  height: 600px;
  background-image: url('./img/kreamBg.jpeg');
   margin: 30px auto;
  background-position: center;
}

.navbar-brand,
.nav-link {
  text-decoration: none;
}

button{
  width: 100px;
  height: 50px;
}